# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
*.egg-info/
dist/
.env

# Flutter
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages
mobile/build/
mobile/.idea/
mobile/*.iml
mobile/android/.gradle/
mobile/android/local.properties
mobile/android/app/debug.keystore
mobile/ios/Pods/
mobile/ios/.symlinks/
mobile/ios/Flutter/Flutter.framework
mobile/ios/Flutter/Flutter.podspec
mobile/assets/models/*.tflite

# IDE
.vscode/
.idea/
*.swp

# Docker
*.log

*.aux
*.bbl
*.blg
*fdb_latexmk
*.fls
*.out
*.synctex.gz
*.toc
style*.md
thesis*.md
